body{
  font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
}
.menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
  }
  
  .container{
    max-width: 1200px;
    margin: 0 auto; /* Centralizando o conteúdo*/
  }
  
  .menu-flex {
    display: flex;
    align-items: center;
  }
  
  .menu-column {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
  }
  
  .menu-column.menu-second-column {
    justify-content: flex-end;
  }
  
  .menu-nav ul {
    display: flex;
    list-style: none;
    gap: 10px; /* Vamos utilizar essa propriedade do flex para colocar um espaçamento entre os elementos*/
  }
  
  .menu-nav ul li a {
    text-decoration: none;
    color: #585e65;
  }
  
  .menu-link-button {
    text-decoration: none;
    height: 48px;
    background-color: #4c6ef5;
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }

.container{
  width: 1200px;
}

.products-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.products-wrapper .cardprodutos{
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}

.products-wrapper .cardprodutos .produto{
  display: flex;
  flex-direction: column;
  padding: 16px 5px;

  width: 24%;
  height: 500px;
  list-style: none;
}

.products-wrapper .cardprodutos .produto img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.products-wrapper .cardprodutos .produto h2{
  height: 58px;
  margin: 25px 0px;
  display: flex;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.products-wrapper .cardprodutos .produto p{
  height: 30px;
  margin: 15px 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.products-wrapper .cardprodutos .produto button{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 48px;
  color: #fff;
  background: #4C6EF5;
  border: 1.5px solid #4C6EF5;
  border-radius: 8px;

}